@layer base {
  :root {
    --background: 0 0% 98.8%;
    --foreground: 210 12.5% 12.5%;
    --card: 0 0% 98.8%;
    --card-foreground: 210 12.5% 12.5%;
    --popover: 0 0% 97.6%;
    --popover-foreground: 210 12.5% 12.5%;
    --primary: 237 66.3% 48.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 13% 95.5%;
    --secondary-foreground: 210 12.5% 12.5%;
    --muted: 0 0% 97.6%;
    --muted-foreground: 220 5.9% 40%;
    --accent: 240 92.6% 10.6%;
    --accent-foreground: 210 12.5% 12.5%;
    --destructive: 358 67.2% 54.5%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 95.7% 9.2%;
    --input: 231 10.2% 75.1%;
    --ring: 231 5.9% 57.1%;
    --custom-accent-warning: 34 100% 91.8%;
    --custom-accent-warning-foreground: 16 50.4% 22.9%;
    --custom-accent-success: 139 57.1% 94.5%;
    --custom-accent-success-foreground: 155 40.5% 16.5%;
    --custom-accent-info: 221 100% 96.3%;
    --custom-secondary-hover: 240 11.1% 92.9%;
    --custom-accent-destructive: 0 100% 96.9%;
    --custom-accent-destructive-foreground: 351 62.6% 24.1%;
    --custom-accent-info-foreground: 232 68.1% 54.5%;
    --custom-accent-teal: 173 80.3% 35.9%;
    --chart-2: 191 91.4% 36.7%;
    --chart-3: 24 100% 46.5%;
    --chart-4: 272 47% 50.4%;
    --chart-5: 152 57.3% 37.6%;
    --chart-1: 237 66.3% 48.8%;
    --custom-bithub: 240 33.3% 99.4%;
  }
  .dark {
    --background: 0 0% 9.4%;
    --foreground: 220 9.1% 93.5%;
    --card: 0 0% 9.4%;
    --card-foreground: 220 9.1% 93.5%;
    --popover: 0 0% 10.6%;
    --popover-foreground: 220 9.1% 93.5%;
    --primary: 237 66.3% 48.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 7.1% 16.5%;
    --secondary-foreground: 220 9.1% 93.5%;
    --muted: 0 0% 10.6%;
    --muted-foreground: 218 7.2% 70%;
    --accent: 224 96.5% 88.8%;
    --accent-foreground: 220 9.1% 93.5%;
    --destructive: 358 75.1% 59%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 95.5% 91.4%;
    --input: 202 5.8% 37.5%;
    --ring: 219 6.3% 43.9%;
    --custom-accent-warning: 26 67.7% 12.2%;
    --custom-accent-warning-foreground: 30 100% 88%;
    --custom-accent-success: 155 37.9% 11.4%;
    --custom-accent-success-foreground: 144 69.6% 82%;
    --custom-accent-info: 228 55.3% 20.2%;
    --custom-secondary-hover: 223 7.1% 19.4%;
    --custom-accent-destructive: 353 40.5% 16.5%;
    --custom-accent-destructive-foreground: 350 100% 91%;
    --custom-accent-info-foreground: 224 100% 78.6%;
    --custom-accent-teal: 173 80.3% 35.9%;
    --chart-2: 190 83.8% 46.1%;
    --chart-3: 24 100% 58.4%;
    --chart-4: 271 57.6% 61.2%;
    --chart-5: 151 55.5% 46.7%;
    --chart-1: 237 66.3% 48.8%;
    --custom-bithub: 227 42.9% 8.2%;
  }
}
